<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Project Alpha</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/static/normalize.css" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="banner">
      <img
        class="container underconstruction"
        src="../static/underconstruction.svg"
        alt="" />
    </div>

    <img class="container grid logo-small" src="../static/logo.svg" alt="" />
    <div class="container chat-background">
      <div class="container chat-room">
        <div class="container chat-messages" id="chatmessages">
          <div class="chat-placeholder"></div>
        </div>
      </div>
    </div>


    <div class="container chat-input-toolbar">
      <form id="messageInput">
        <input class="chat-input-toolbar-inputfield chat-input-toolbar-inputfield-nickname" id ="nicknameInputField" value="" maxlength="16">
        <input class="chat-input-toolbar-inputfield chat-input-toolbar-inputfield-message" id="messageInputField" maxlength="150">
        <button class="btn btn-elegant btn-tiny btn-submit">-></button>
      </form>
    </div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script type="module" src="../static/chatRoom.js"></script>
    <script src="../static/chatMessage.js"></script>
    <script src="../static/chatter.js"></script>

  </body>
</html>
