<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Project Alpha Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/static/normalize.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script>
      let urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has("err") && urlParams.get("err") == "LOGIN_INCORRECT") {
        alert("Wrong Username or Password");
      }
    </script>
  </head>
  <body>
    <div class="navbar container grid">
      <img class="logo-tiny" src="../static/logo minimal.svg" alt="" />
      <ul>
        <il><a class="navbar-item" href="#">Home</a></il>
        <il><a class="navbar-item" href="#">About</a></il>
      </ul>
    </div>
    <div class="login container grid">
      <img class="logo" src="../static/logo.svg" alt="" />
      <form class="credentials grid" action="" method="post">
        <h1 class="hint hint-username">Username</h1>
        <input type="text" name="username" required />
        <h1 class="hint hint-password">Password</h1>
        <input type="password" name="password" required />
        <input class="btn btn-elegant btn-small" type="submit" value="Log In" />
      </form>
    </div>
    <h1>Lorem, ipsum.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nesciunt
      quos nam, repudiandae delectus vero voluptas illum repellat quae facilis.
    </p>
  </body>
</html>
