:root {
    --color-primary: rgba(131, 58, 180, 1);
    --color-accent: rgba(252, 176, 69, 1);
    --color-headings: white;
    --color-paragraphs: rgb(251, 255, 0);
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
    background: linear-gradient(90.01deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

h1{
    color: var(--color-headings)
}

p {
    color: var(--color-paragraphs)
}

input {
    margin-bottom: 16px;
    border-radius: 4%;
    color: var(--color-primary);
    font-size: 2rem;
    outline: 0;
    justify-content: center;
    align-content: center;
    padding: 1rem 1rem;

}

.container { 
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid lightgray;
    
}
    

.grid {
    display: grid;
}


.grid-1x2{
    grid-template-columns: 1fr 1fr;
}

.logo {
    width: 360px;
}

.logo-small {
    width: 256px;
}

.logo-tiny{
    width: 128px;
}

.logo-tiny:hover{
    rotate: 3600deg;
    transition: rotate 5s cubic-bezier(0.65, 0, 0.35, 1);
}

.hint {
    font-weight: bold;
    text-align: center;
}

.hint-username {
    font-size: 3rem;

}

.hint-password{
    font-size: 2.5rem;

}

.btn{

    justify-self: center;
    align-self: center;
    font-size: 1.8rem;
    color: white;
    background-color: rgba(131, 58, 180, 1);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--color-accent)
}

.btn-elegant{
    border-radius: 48px;
    border: 0;

}

.btn-small{
    width: 15rem;
    height: 5rem;
}

.chat-message{
    display: flex;
    margin-bottom: 3rem;
}

.chat-text{
    font-style: italic;
}

.chat-bubble {
    height: 32px;
    width: 32px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
}

.login{
    margin: 0 10rem 0 10rem;
}


.navbar{
    background-color: rgba(100, 100, 100, 25%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.banner{
        position: relative;
        z-index: 99;
}

.underconstruction{
    display: block;
    width: 100%;
    height: 32px;
    object-fit: cover;
    position: fixed;
    z-index: 999;
}

.underconstruction-bottom{
    bottom: 0;
}