/* Variable */

:root {
  --color-primary: rgba(131, 58, 180, 1);
  --color-accent: rgba(252, 176, 69, 1);
  --color-headings: white;
  --color-paragraphs: rgb(255, 255, 255);
  --color-gradient-start: #833ab4;
  --color-gradient-middle: #fd1d1d;
  --color-gradient-end: #fcb045;
}

/* Typography */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  background: linear-gradient(90.01deg, var(--color-gradient-start) 0%, var(--color-gradient-middle) 50%, var(--color-gradient-end) 100%);
  height: 100%;
}

h1 {
  color: var(--color-headings);
}

p {
  color: var(--color-paragraphs);
}

/* Container */

.container {
  margin: 0 auto;
  justify-content: center;
  border: 0px solid lightgray;
}

/* Grid */

.grid {
  display: grid;
}

.grid-1x2 {
  grid-template-columns: 1fr 1fr;
}

.grid-1x3 {
  grid-template-columns: 1fr 1fr 1fr;
}

/* Input */

input {
  margin-bottom: 16px;
  border-radius: 4%;
  color: var(--color-primary);
  font-size: 2rem;
  outline: 0;
  justify-content: center;
  align-content: center;
  padding: 1rem 1rem;
}

/* Buttons */

.btn {
  justify-self: center;
  align-self: center;
  font-size: 1.8rem;
  color: white;
  background-color: rgba(131, 58, 180, 1);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-accent);
}

.btn-elegant {
  border-radius: 48px;
  border: 0;
}

.btn-small {
  width: 15rem;
  height: 5rem;
}

.btn-tiny {
  width: 4rem;
  height: 4rem;
}

.btn-submit {
  justify-self: left;
  align-self: normal;
}

/* Logo */

.logo {
  width: 360px;
}

.logo-small {
  width: 156px;
}

.logo-tiny {
  width: 128px;
}

.logo-tiny:hover {
  rotate: 3600deg;
  transition: rotate 5s cubic-bezier(0.65, 0, 0.35, 1);
}

/* Navbar */

.navbar {
  background-color: rgba(100, 100, 100, 25%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Under Constrution */

.underconstruction {
  width: 100%;
  height: 32px;
  object-fit: cover;
  position: fixed;
  z-index: 999;
  opacity: 66%;
}

/* Login */
.login {
  margin: 0 10rem 0 10rem;
}

.hint {
  font-weight: bold;
  text-align: center;
}

.hint-username {
  font-size: 3rem;
}

.hint-password {
  font-size: 2.5rem;
}

/* Chatting */

.chat-room {
  position: relative;
  height: 64vh;
  mask-image: linear-gradient(to top, black 80%, transparent 100%);
  width: 100%;
  margin-left: 8px;
  margin-right: 4px;
  min-width: 250px;
  max-width: 600px;
}

.chat-messages {
  position: absolute;
  bottom: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-message {
  display: flex;
  margin-bottom: 1rem;
  --chat-opacity: 0.7;
  max-width: 80%;
  margin-top: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
}

.chat-message-placeholder {
  margin-top: 100px;
}

.chat-message-mine {
  background: linear-gradient(
    180deg,
    rgba(131, 58, 180, var(--chat-opacity)) 0%,
    rgba(152, 55, 176, var(--chat-opacity)) 6.25%,
    rgba(171, 51, 169, var(--chat-opacity)) 12.5%,
    rgba(188, 49, 162, var(--chat-opacity)) 18.75%,
    rgba(204, 49, 155, var(--chat-opacity)) 25%,
    rgba(217, 52, 148, var(--chat-opacity)) 31.25%,
    rgba(228, 57, 140, var(--chat-opacity)) 37.5%,
    rgba(238, 65, 131, var(--chat-opacity)) 43.75%,
    rgba(246, 75, 121, var(--chat-opacity)) 50%,
    rgba(252, 86, 111, var(--chat-opacity)) 56.25%,
    rgba(255, 98, 103, var(--chat-opacity)) 62.5%,
    rgba(255, 112, 96, var(--chat-opacity)) 68.75%,
    rgba(255, 124, 88, var(--chat-opacity)) 75%,
    rgba(255, 137, 82, var(--chat-opacity)) 81.25%,
    rgba(255, 151, 76, var(--chat-opacity)) 87.5%,
    rgba(255, 163, 71, var(--chat-opacity)) 93.75%,
    rgba(252, 176, 69, var(--chat-opacity)) 100%
  );
  margin-left: 0px;
  padding-right: 12px;
  border-bottom-left-radius: 2px;
}

.chat-message-other {
  background: linear-gradient(
    0deg,
    rgba(131, 58, 180, var(--chat-opacity)) 0%,
    rgba(152, 55, 176, var(--chat-opacity)) 6.25%,
    rgba(171, 51, 169, var(--chat-opacity)) 12.5%,
    rgba(188, 49, 162, var(--chat-opacity)) 18.75%,
    rgba(204, 49, 155, var(--chat-opacity)) 25%,
    rgba(217, 52, 148, var(--chat-opacity)) 31.25%,
    rgba(228, 57, 140, var(--chat-opacity)) 37.5%,
    rgba(238, 65, 131, var(--chat-opacity)) 43.75%,
    rgba(246, 75, 121, var(--chat-opacity)) 50%,
    rgba(252, 86, 111, var(--chat-opacity)) 56.25%,
    rgba(255, 98, 103, var(--chat-opacity)) 62.5%,
    rgba(255, 112, 96, var(--chat-opacity)) 68.75%,
    rgba(255, 124, 88, var(--chat-opacity)) 75%,
    rgba(255, 137, 82, var(--chat-opacity)) 81.25%,
    rgba(255, 151, 76, var(--chat-opacity)) 87.5%,
    rgba(255, 163, 71, var(--chat-opacity)) 93.75%,
    rgba(252, 176, 69, var(--chat-opacity)) 100%
  );
  text-align: right;
  direction: rtl;
  margin-right: 0px;
  padding-left: 12px;
  filter: sepia(5%);
  border-bottom-right-radius: 2px;
}

.chat-element {
  display: flex;
  overflow: clip;
  max-height: 200px;
}

.chat-message-chat-nickname {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.chat-message-chat-nickname-mine {
  display: none;
}

.chat-message-chat-nickname-other {
  align-self: flex-start;
}

.chat-message-chat-text {
  word-break: break-word;
  direction: ltr;
  font-size: 1.4rem;
}

.chat-message-chat-bubble {
  height: 32px;
  width: 32px;
  background-color: lightskyblue;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  min-height: 32px;
  min-height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  border: 2px solid greenyellow;
}

.chat-input-toolbar {
  width: 500px;
  height: 10vh;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 400px;
  min-height: 50px;
  display: flex;
}

.chat-input-toolbar-inputfield {
  height: 18px;
  font-size: 10px;
}

.chat-input-toolbar-inputfield-message {
  width: 200px;
  border-radius: 22px;
  margin-right: 5px;
  text-indent: 5px;
  border-bottom-left-radius: 2px;
}

.chat-clients-toolbar {
  margin: 0px 0px;
  max-width: 200px;
  min-width: 150px;
  height: 64vh;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-height: 100%;
  border: 1px solid lightblue;
  background: url(/static/chatbackgroundusers_0.svg);
}

.chat-clients-toolbar-clients-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.chat-house {
  max-width: 720px;
  display: flex;
  background-image: url(/static/chatbackground_2.svg);
  background-size: cover;
  border: 1px solid lightblue;
  overflow: clip;
  justify-content: left;
}

.chat-clients-toolbar-clients-list > li {
  text-align: center;
  color: var(--color-accent);
  font-size: 1.3rem;
}

.chat-clients-toolbar-clients-list > li:nth-child(even) {
  background: rgba(253, 29, 29, 0.1);
}

.chat-clients-toolbar-clients-list > li:nth-child(odd) {
  background: rgba(252, 176, 69, 0.1);
}

.chat-clients-toolbar-clients-list-nickname-background-mine {
  background: rgba(0, 0, 0, 0.15) !important;
}

.chat-clients-toolbar-clients-list-username-text-mine {
  font-weight: bold;
}
